p {
	color: lime;
	font-size: 20px;
	font-family: Comic Sans MS;
	text-align: center;
}
h1{
	text-transform:uppercase;
	font-size:40px;
	font-family:'Verdana';
	padding:30px;
	color: orange;
	font-weight: bold;
	border: 3px solid orange;
	text-align:center;
}
body{
	background-color: teal;
}	

