th{
	font-size: 30px;
	color: white;
	font-family: Cosmic Sans MS;
}
body{
	background: linear-gradient(to right, blue, orange, red, purple);
}
td{
	font-size:18px;
	color: white;
	font-family: Cosmic Sans MS;
}
h1{
	text-align: center;
	color:white;
}
.science{
	background: blue;
}
.math{
	background: black
}
.music{
	background: purple
}
.computer{
	background:teal
}
.english{
	background: orange;
}
.french{
	background: maroon
}
.history{
	background: green;
}
.religion{
	background: pink;
}
.gym{
	background: cyan;
}
.homeroom{
	background: silver;
}
.speech{
	background:silver
}
